@model UserManagement.Web.Models.Users.UserDeleteViewModel

<h2 class="mb-4">Delete User @Model.Forename @Model.Surname?</h2>

<form asp-action="Delete" asp-controller="users" method="post">
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger col-sm-2" />
        <a asp-action="Index" class="btn btn-secondary col-sm-2">Cancel</a>
    </div>
</form>
